<h1>List of all customers</h1>

<ul>
  <%= for user <- @users do %>
    <li>
      <%= first_name(user) %> as user No: <%= user.id %>
      <%= link "View", to: user_path(@conn, :show, user.id) %>
    </li>
  <% end %>
</ul>
